<li><a href="#search" data-toggle="tab" id="search_id" title="general search">Service Paths</a></li>
<li><a href="#edits" data-toggle="tab" id="manual_entry_id" title="view/edit all manual entry data">Manual Entry</a></li>


<script type="text/javascript">

    $(document).ready(function ($) {
		alert('ready event');
    });

</script>    


