<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body>
    <% include header %>
    <% include ../../partials/locations %>
    <% include ../../partials/relationships %>
    <% include footer %>
</body>
</html>