<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body>
  <% include ../../partials/header %>
	<% include ../../partials/locations %>
	<% include ../../partials/relationships %>
	<!--
	<% include ../../partials/footer %>
	-->
</body>
</html>